// White header panels
.whiteHeader {
  @extend %whiteBox;
  max-width: 50%;
  margin-bottom: 3rem;
  min-width: 350px;
  &::after { // The red underline underneath the panel
    content: "";
    position: absolute;
    border-bottom: 0.5rem solid $panelAccent;
    width: 15rem;
    bottom: 4rem;
    left: 3rem;
  }
}

// White content panels
.whitePanel {
  @extend %whiteBox;
}

// Brown clipboard panel
.brownPanel {
  @extend %whiteBox;
  border: { // Clipboard background
    style: solid;
    color: $clipPanelBg;
    width: 50px 8px 8px;
    radius: 3px;
  }
  &::before { // The white accent above the clipboard border
    content: "";
    border-bottom: 10px solid white;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    position: absolute;
    top: -15%;
    left: 1.25em;
    right: 1.25em;
  }
}

.brownPanel--downloads {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 8rem;
  padding-bottom: 8rem;
  &::before {
    top: 1rem;
    width: 35%;
  }
}

.brownPanel__item {
  flex: 1;
  margin: 1rem;
}

.brownPanel__item > button {
  width: 100%;
  height: 100%;
}

// Committee cards
.card {
  @extend %redBox;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.card__img {
  border-radius: 50%;
  max-width: 50%;
}
