// White header panels
.whiteHeader {
  @extend %whiteBox;
  max-width: 50%;
}

// White content panels
.whitePanel {
  @extend %whiteBox;
}

// Brown clipboard panel
.brownPanel {
  @extend %whiteBox;
  border: {
    style: solid;
    color: $clipPanelBg;
    width: 50px 8px 8px;
    radius: 3px;
  }
  &::before {
    content: "";
    border-bottom: 10px solid white;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    background-color: white;
    position: absolute;
    top: -40%;
    left: 1.25em;
    right: 1.25em;
  }
}

// Committee cards
.card {
  @extend %redBox;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.card__img {
  border-radius: 50%;
  max-width: 50%;
}
