// -----------------------------------------------------------------------------
// This file contains styling rules for the footer 
// -----------------------------------------------------------------------------

#masthead{
  position: absolute;
  width: 100%;
  bottom: 0;
}
