// -----------------------------------------------------------------------------
// Stylesheet for the landing page
// -----------------------------------------------------------------------------
#landing {
  background-color: $landBackground;
}

#btnSouth {
  margin-left: 5px;
}

.container--landing {
  height: 100vh;
  padding-top: 10%;
}

.card--landing {
  margin: 0;
  text-align: left;
}

.footer--landing {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.vCenter--landing {
  margin-top: 5%;
}

.brownPanel--slideshow {
  padding: 0.8rem;
}

.welcomeCard {
  @extend %box-shadow;
  padding: 25px;
  transition: transform 100ms;

  &:hover {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 576px) {
  #landingHero {
    margin: 0;
    padding: 2rem;
  }

  .container--landing {
    position: relative;
    height: auto;
  }

  .footer--landing {
    bottom: auto;
  }

  a[href="north.html"], a[href="south.html"] {
    width: 100%;
    margin: 0.5rem;
  }

  a[href="north.html"] > button , a[href="south.html"] > button {
    width: 100%;
  }

  .card--landing {
    margin: 0.5rem;
  }

  #btnSouth {
    margin-left: 0;
  }
}
