#north {
  background-color: $nBackground;
}

#south {
  background-color: $sBackground;
}

// White header positioning
.header {
  padding-left: 0;
  position: relative;
}

// Individual section heights
.container {
  &--main {
    height: 100vh;
    padding-top: 12%;
  }
  &--desc, &--docs, &--deadlines, &--committee {
    margin-bottom: 10%
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin: 4%;
    padding: 0;
    &--main {
      height: auto;
    }
  }

  .col-md-8 {
    padding: 0;
  }

  #downloads {
    margin: 0;
  }

  .display-5 > button {
    width: 95%;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    &--main {
      height: auto;
    }
  }
}
