.textCenter {
  text-align: center;
}

.vCenter {
  margin: 25% 0;
}

.fa-file-download {
  padding-left: 1rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 576px) {
  iframe {
    width: 100%;
  }
}
