// -----------------------------------------------------------------------------
// This file contains all @font-face declarations
// -----------------------------------------------------------------------------

// Header & subheader
@font-face{font-family: 'Archer'; src: url(../Assets/Fonts/Archer-Semibold.otf) format('opentype');}

// Body
@font-face{font-family: 'CenturyGothic'; src: url(../Assets/Fonts/CenturyGothic.ttf) format('truetype');}
@font-face{font-family: 'MyriadPro'; src: url(../Assets/Fonts/MyriadPro-Regular.otf) format('opentype');}
