// -----------------------------------------------------------------------------
// This file contains all typography styling rules
// -----------------------------------------------------------------------------

// Headings
h1 { font-family: "Archer"; }
h2, h3, h4, h5, h6 { font-family: "MyriadPro"; color: $panelAccent;}

// Paragraphs and links
p, a { font-family: "CenturyGothic"; }
// #MyriadPro{ font-family: "MyriadPro"; }

a:hover {
  text-decoration: none;
}
