// -----------------------------------------------------------------------------
// This file contains all typography styling rules
// -----------------------------------------------------------------------------

// Headings
h1, h4 { font-family: "Archer"; }

h2, h3, h5, h6 { font-family: "MyriadPro"; color: $panelAccent;}

.display-1 {
  font-size: 5rem;
}
.display-5 {
  font-size: 1.5rem;
}

// Paragraphs and links
p, a { font-family: "CenturyGothic"; }
// #MyriadPro{ font-family: "MyriadPro"; }

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 576px) {
    .display-1, h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2rem;
    }
    // .display-5 {
    //   font-size: 5rem;
    // }
}
