// -----------------------------------------------------------------------------
// This file contains all variables across the site
// -----------------------------------------------------------------------------

$purple: #E3D1E5;
$blue: #D1E2E8;
$yellow: #F9EFC5;
$red: #D35E5E;
$brown: #C1AD8E;

// Base
$nBackground: $blue;
$sBackground: $purple;

// Typography
$headerFont: 'Archer';
$bodyFont: 'CenturyGothic';

// Components
$btnBackground: $red;

// Layout
$cardBackground: $red;
